@(categories: Seq[models.Category], products: Seq[models.Product])(implicit flash: play.api.mvc.Flash, messages: Messages)

@main {

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div class="sitemap">
        <ul id="utilityNav">
            <li><a class="btn success" id="add" href="@routes.Application.addCategory()">Add a category</a></li>
            <li><a class="btn success" id="add" href="@routes.Application.addProduct()">Add a product</a></li>
        </ul>

        <ul id="primaryNav">
            <li id="home"><a href="">Home</a></li>
            @categories.map { category =>
                <li><a href="@routes.Application.editCategory(category._id.stringify)"> @category.name</a>
                    <ul>
                    @products.filter(product=> product.categoryId == category._id.stringify).map { product =>
                        <li><a href="@routes.Application.editProduct(product._id.stringify)"> @product.name</a>
                    }
                    </ul>
                </li>
            }
        </ul>
    </div>
}
