@(id: String, categoryForm: Form[Category])(implicit msg: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Edit category</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
            @form(routes.Application.updateCategory(id)) {
                <fieldset>
                    @inputText(categoryForm("name"), '_label -> "Category name", '_help -> "")
                </fieldset>

                <div class="actions">
                    <input type="submit" value="Update this category"	class="btn btn-primary"> or
                    <a href="@routes.Application.list()" class="btn btn-default">Cancel</a>
                </div>
            }
            </div>
        </div>

        @form(routes.Application.deleteCategory(id), 'class -> "topRight") {
            <input type="submit" value="Delete this category" class="btn btn-danger">
            }
    </div>
}
